<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="Hexa.Core.Settings" type="Hexa.Core.Settings, Hexa.Core" />
    </configSections>
	
    <connectionStrings>
        <add name="HexaCoreTestConnectionString"
            connectionString="Data Source=.;Initial Catalog=HexaCoreTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Core.Connection" connectionString="Data Source=.;Initial Catalog=HexaCoreTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Master.Connection" connectionString="Data Source=.;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	
	<Hexa.Core.Settings>
		<Modules>
			<Module name="TestModule" assembly="Hexa.Core.Tests.dll"></Module>
		</Modules>
	</Hexa.Core.Settings>

  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="TraceAppender" />
    </root>

    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %P{User} %P{UserAddress} %P{SessionID}- %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>