<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="Hexa.Core.Settings" type="Hexa.Core.Settings, Hexa.Core" />
  </configSections>

  <connectionStrings>
    <add name="Sql.Connection" connectionString="Data Source=.\sqlexpress;Initial Catalog=HexaCoreTest;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="SqlCe.Connection" connectionString="Data Source=HexaCoreTest.sdf;" providerName="System.Data.SqlServerCe.3.5" />
    <add name="Firebird.Connection" connectionString="ServerType=1;User=SYSDBA;Password=masterkey;Dialect=3;Database=mydb.fdb" providerName="FirebirdSql.Data.FirebirdClient" />
  </connectionStrings>

  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="TraceAppender" />
    </root>

    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %P{User} %P{UserAddress} %P{SessionID}- %message%newline" />
      </layout>
    </appender>
  </log4net>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.3.5"/>
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.3.5" 
           description=".NET Framework Data Provider for Microsoft SQL Server Compact" 
           type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.1.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" 
           description=".Net Framework Data Provider for Firebird" 
           type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient, Version=2.6.5.0, Culture=neutral, PublicKeyToken=3750abcc3150b00c" />
    </DbProviderFactories>
  </system.data>
  
</configuration>